:root {
  --accent: #ffdaa6;
  --text-color: #dbd6ce;
  --heading: 'Chubbo', sans-serif;
  --body-text: 'Supreme', sans-serif;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  color: #fff3e2;
}

p {
  font-family: var(--body-text);
  font-size: 1.1rem;
}

.text-bg-dark {
  background-color: #1d072a !important;
  color: var(--text-color) !important;
}
/* End Typography */

/* Utility */
.img-shadow {
  border: solid 2px black;
  box-shadow: 0px 0px 0px 6px var(--accent),
    0px 45px 64px -30px rgba(0, 0, 0, 0.8);
}

.border-full {
  border: solid 1px var(--accent);
}

.text-wrapper {
  width: 100%;
  max-width: 425px;
}
/* End Utility */

/* Button Styling */
.btn-primary {
  background-color: var(--accent);
  color: black;
  border: solid 1px var(--accent);
  transition: transform ease 0.3s;
  padding: 0.5em 1.5em;
}

.btn-primary:hover {
  border: solid 1px var(--accent);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.7);
  background-color: var(--accent);
  color: black;
  transform: translateY(-4px);
  transform: scale(1.1);
}

.btn-primary:active,
.btn-primary:focus {
  background-color: var(--accent) !important;
  color: black !important;
}

.btn-secondary {
  background-color: #fff3e2;
  border: solid 1px #fff3e2;
  color: black;
  transition: transform ease 0.3s;
  padding: 0.5em 1.5em;
}

.btn-secondary:hover {
  background-color: #fff3e2;
  border: solid 1px #fff3e2;
  color: black;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.7);
  transform: translateY(-4px);
  transform: scale(1.1);
}
/* End Button Styling */

/* Navbar Styling */
.navbar-brand {
  transition: color ease 0.3s;
  color: var(--text-color);
}

.navbar-brand:hover {
  color: var(--accent);
}

a,
.nav-link {
  color: #dbd6ce;
  text-decoration: none;
}

a:hover,
.nav-link:hover {
  color: var(--accent);
}

.navbar-toggler:active,
.navbar-toggler:focus {
  border: solid 1px var(--accent);
  color: var(--accent);
}
/* End Navbar Styling */

.hero-img {
  /* Keeps the hero image properly sized */
  width: 100%;
  max-width: 15em;
}

.container-sm {
  /* Custom container */
  width: 100%;
  max-width: 750px;
}

/* Accordian Styling */
.accordion-item {
  border: solid 1px var(--accent);
}

.accordion-button {
  font-size: 1.1rem;
  border: solid 1px var(--accent);
}

.accordion-button:focus,
.accordion-button:active {
  border: solid 1px var(--accent);
}

.accordion-button:is(.collapsed) {
  color: inherit;
  background: transparent;
  color: var(--accent);
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background: var(--accent);
  color: black;
}
/* End Accordian Styling */

.carousel-img {
  max-height: 15em;
}

.card {
  padding: 0;
}

.card-img-top {
  background-color: var(--accent);
}


.form-input:focus,
.form-input:active {
  border: solid 1px var(--accent);
}

/* Icon Styling */
.fa-pull-left,
.fa-pull-right,
.lead {
  color: #fff3e2;
}

.skills-icon {
  font-size: 5em;
  color: var(--accent);
}
/* Icon Styling */

/* Media Queries */
@media screen and (max-width: 768px) {
  .hero-img {
    max-width: 12em;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }
}
/* Ends Media Queries */
